In [3]:
import pandas as pd

In [4]:
# The path to our CSV file
CSV_file = "Resources/KickstarterData.csv"

In [6]:
# Read our Kickstarter data into pandas
Kickstarter = pd.read_csv(CSV_file)

In [7]:
# Get a list of all of our columns for easy reference
Kickstarter.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [ ]:
# reduced_kickstarter_df = df.loc[:, ["name", "goal", "pledged",
#                                     "state", "country", "staff_pick", "backers_count", "spotlight"]]
# reduced_kickstarter_df

In [8]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"

Kickstarter_selected = Kickstarter[["name", "goal", "pledged", "state", "country", "staff_pick","backers_count", "spotlight"]]

In [10]:
Kickstarter_selected.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [17]:
# Remove projects that made no money at all
Kickstarter_selected_nonzero = Kickstarter_selected.loc[Kickstarter_selected["pledged"]>0]

In [41]:
Kickstarter_selected_nonzero.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [42]:
# Kickstarter_selected[Kickstarter_selected["pledged"]==0]

In [43]:
# Collect only those projects that were hosted in the US
Kickstarter_selected_nonzero_onlyusa = Kickstarter_selected_nonzero.loc[Kickstarter_selected_nonzero["country"]=='US']

In [44]:
Kickstarter_selected_nonzero_onlyusa.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True
14,Pride Con,15000.0,15110.0,successful,US,False,60,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True

In [45]:
Kickstarter_selected_nonzero_onlyusa = Kickstarter_selected_nonzero_onlyusa.reset_index(drop=True)

In [46]:
Kickstarter_selected_nonzero_onlyusa.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True
2,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True
3,Pride Con,15000.0,15110.0,successful,US,False,60,True
4,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True

In [47]:
# Create a new column that finds the average amount pledged to a project
Kickstarter_selected_nonzero_onlyusa["Avg_amount_pledged"] = Kickstarter_selected_nonzero_onlyusa["pledged"]/ \
                                                             Kickstarter_selected_nonzero_onlyusa["backers_count"]

In [48]:
Kickstarter_selected_nonzero_onlyusa.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Avg_amount_pledged
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True,172.058824
1,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True,106.323529
2,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True,76.537879
3,Pride Con,15000.0,15110.0,successful,US,False,60,True,251.833333
4,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True,128.825000

In [51]:
# Kickstarter_selected_nonzero_onlyusa["goal"]

In [54]:
# Format our "average_donation", "goal", and "pledged" columns 
# to go to two decimal places, include a dollar sign, and use comma notation
Kickstarter_selected_nonzero_onlyusa["goal"]=Kickstarter_selected_nonzero_onlyusa["goal"].map("${:,.2f}".format)
Kickstarter_selected_nonzero_onlyusa["pledged"]=Kickstarter_selected_nonzero_onlyusa["pledged"].map("${:,.2f}".format)
Kickstarter_selected_nonzero_onlyusa["Avg_amount_pledged"]=Kickstarter_selected_nonzero_onlyusa["Avg_amount_pledged"].map("${:,.2f}".format)

In [55]:
Kickstarter_selected_nonzero_onlyusa.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Avg_amount_pledged
0,The Class Act Players Theatre Company Presents...,"$1,500.00","$2,925.00",successful,US,False,17,True,$172.06
1,Forefront Festival 2015,"$7,200.00","$7,230.00",successful,US,False,68,True,$106.32
2,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.54
3,Pride Con,"$15,000.00","$15,110.00",successful,US,False,60,True,$251.83
4,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.82

In [56]:
# Calculate the total number of backers for all US projects
Kickstarter_selected_nonzero_onlyusa["backers_count"].sum()

89273

In [59]:
# Calculate the average number of backers for all US projects
round(Kickstarter_selected_nonzero_onlyusa["backers_count"].mean(),3)

41.932

In [61]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
Kickstarter_selected_nonzero_onlyusa.loc[Kickstarter_selected_nonzero_onlyusa["staff_pick"]==True]

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Avg_amount_pledged
2,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.54
4,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.82
11,"""Poor People"" at FringeNYC 2015","$5,500.00","$5,682.00",successful,US,True,34,True,$167.12
14,Queen Mab's Steampunk and Fairie Street Festival,"$1,300.00","$3,363.00",successful,US,True,62,True,$54.24
15,RAFT: a new play by Emily Kitchens,"$7,500.00","$7,826.00",successful,US,True,120,True,$65.22
17,The Spinning Wheel: a son remixes a father's r...,"$20,000.00","$22,602.00",successful,US,True,228,True,$99.13
19,Bloomers Presents: LaughtHERfest,"$8,000.00","$9,501.00",successful,US,True,102,True,$93.15
21,Natasha Noman's Noman's Land | Aug 5-15th Edi...,"$7,000.00","$7,571.00",successful,US,True,84,True,$90.13
46,Peter/Wendy goes to the 2015 Edinburgh Fringe ...,"$10,000.00","$12,003.00",successful,US,True,95,True,$126.35
53,La Lune de Femme goes to New Orleans Fringe,"$5,000.00","$5,519.00",successful,US,True,79,True,$69.86
54,Secular Solstice 2014,"$7,500.00","$8,157.01",successful,US,True,164,True,$49.74
57,Southern Shakespeare Festival,"$7,500.00","$8,202.00",successful,US,True,63,True,$130.19
61,Too Much Light Heads to the Edinburgh Fringe!,"$15,000.00","$15,277.00",successful,US,True,239,True,$63.92
64,And Then Came Tango,"$2,000.00","$2,001.00",successful,US,True,39,True,$51.31
77,The Trouble With Dead Boyfriends goes to Premi...,"$4,500.00","$4,970.00",successful,US,True,79,True,$62.91
100,(Wo)men Rule Broadway,"$10,000.00","$10,034.00",successful,US,True,50,True,$200.68
112,The Waterman: A Forgotten Cascadian Myth,"$3,500.00","$3,502.50",successful,US,True,66,True,$53.07
121,TINY - A New Musical Based On The Life Of Tiny...,"$7,500.00","$9,591.00",successful,US,True,138,True,$69.50
123,Deaf West Theatre's Spring Awakening Tony Perf...,"$200,000.00","$211,634.17",successful,US,True,1769,True,$119.63
141,The Wolves of Chernobyl Present Recordings & T...,"$3,150.00","$4,658.00",successful,US,True,125,True,$37.26
142,Alien Vs. Musical,"$15,000.00","$16,212.00",successful,US,True,371,True,$43.70
147,Help Get Street Theatre Off The Street,"$15,000.00","$16,612.00",successful,US,True,119,True,$139.60
151,He Knew He Would Say It (But Could He Believe ...,"$5,000.00","$5,916.00",successful,US,True,70,True,$84.51
161,"35MM, A Musical Exhibition","$5,000.00","$5,030.00",successful,US,True,35,True,$143.71
163,SPEAKEASY - a new musical,"$13,500.00","$14,305.00",successful,US,True,142,True,$100.74
168,The Monster of Phantom Lake: The Musical!,"$2,500.00","$6,495.00",successful,US,True,103,True,$63.06
169,Kat Robichaud's Misfit Cabaret,"$6,000.00","$12,141.69",successful,US,True,179,True,$67.83
173,Spies Are Forever: A New Comedy Musical,"$42,000.00","$58,830.08",successful,US,True,1147,True,$51.29
188,"Andina, the Opera That Never Was","$2,200.00","$5,076.89",successful,US,True,91,True,$55.79
194,'What's Your Wish?'- Thicket & Thistle's Fring...,"$6,750.00","$6,766.83",successful,US,True,101,True,$67.00
...,...,...,...,...,...,...,...,...,...
1878,"Toscana, or What I Remember","$4,000.00","$4,296.00",successful,US,True,21,True,$204.57
1899,Catapult OYL to the next level—in Edinburgh!,"$15,000.00","$15,481.00",successful,US,True,181,True,$85.53
1908,"Two ""Gentlemen"" of Verona by William Shakespeare","$2,000.00","$2,047.00",successful,US,True,39,True,$52.49
1920,Honorable Men - Poor Yorick's Players 2016 Season,"$1,000.00","$1,312.00",successful,US,True,26,True,$50.46
1956,Orpheus Descending by Tennessee Williams,"$15,500.00","$15,705.00",successful,US,True,286,True,$54.91
1959,Hear Me Roar: A Season of Powerful Women,"$7,000.00","$7,164.00",successful,US,True,37,True,$193.62
1961,"""Next Stop"" - Adjusting to dating in NYC","$10,000.00","$15,443.00",successful,US,True,145,True,$106.50
1962,Titus Andronicus (with an all-female cast & crew),"$2,500.00","$2,804.16",successful,US,True,68,True,$41.24
1970,Keep the Art of Marionettes Alive With PUPPETW...,"$5,000.00","$5,462.00",successful,US,True,73,True,$74.82
1975,Shakespeare in ASL - and FREE for everyone,"$2,500.00","$3,120.00",successful,US,True,84,True,$37.14
1984,Celebrating 20 years of The 24 Hour Plays arou...,"$35,000.00","$35,275.64",successful,US,True,269,True,$131.14
1987,THE INCREDIBLE FOX SISTERS,"$8,000.00","$8,227.00",successful,US,True,71,True,$115.87
1991,Colt Coeur's 6th Season,"$35,000.00","$35,123.00",successful,US,True,134,True,$262.11
1994,The Gray Man,"$10,000.00","$11,122.00",successful,US,True,193,True,$57.63
2002,Good People by David Lindsay-Abaire at Waterfr...,"$3,100.00","$3,395.00",successful,US,True,74,True,$45.88
2017,Scrappy Shakespeare: A Midsummer Night's Dream,"$3,300.00","$3,315.00",successful,US,True,49,True,$67.65
2019,"or, The Whale: an original stage adaptation of...","$15,000.00","$15,315.00",successful,US,True,288,True,$53.18
2030,Paperhand Puppet Intervention 16th Annual Summ...,"$10,000.00","$12,806.00",successful,US,True,176,True,$72.76
2031,"Yesterday Again, Please - A New Play by Dezi G...","$5,500.00","$5,771.00",successful,US,True,88,True,$65.58
2032,The Metronome Society,"$1,500.00","$1,661.00",successful,US,True,20,True,$83.05
2041,Macbeth,"$6,000.00","$7,877.00",successful,US,True,163,True,$48.33
2063,Honest Accomplice Theatre 2015-16 Season,"$12,000.00","$12,095.00",successful,US,True,200,True,$60.48
2084,Eyes Closed - The First In-Dream Theater Exper...,"$20,000.00","$20,022.00",successful,US,True,119,True,$168.25
2101,Kapow-i GoGo at The PIT,"$2,500.00","$2,575.00",successful,US,True,49,True,$52.55
2103,The Hurtling Stillness. A story about angels a...,"$1,800.00","$1,805.00",successful,US,True,12,True,$150.42
2107,Prison Boxing: A New Play by Leah Joki,"$12,200.00","$12,571.00",successful,US,True,134,True,$93.81
2114,Bluebirds by Joe Brondo,"$7,000.00","$7,365.00",successful,US,True,75,True,$98.20
2117,The Seagull Project Presents: The Three Sisters,"$20,000.00","$21,573.00",successful,US,True,202,True,$106.80
2120,Verdigris - A Play by Jim Beaver,"$35,000.00","$56,079.83",successful,US,True,930,True,$60.30
2126,Bring Love's Labour's Lost to Minnesota,"$25,000.00","$25,388.00",successful,US,True,213,True,$119.19

In [63]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)
Kickstarter_selected_nonzero_onlyusa_state = Kickstarter_selected_nonzero_onlyusa.groupby("state")

In [64]:
Kickstarter_selected_nonzero_onlyusa_state.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Avg_amount_pledged
0,The Class Act Players Theatre Company Presents...,"$1,500.00","$2,925.00",successful,US,False,17,True,$172.06
1,Forefront Festival 2015,"$7,200.00","$7,230.00",successful,US,False,68,True,$106.32
2,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.54
3,Pride Con,"$15,000.00","$15,110.00",successful,US,False,60,True,$251.83
4,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.82
366,New programming language (Suspended),"$1,000.00","$1,100.00",suspended,US,False,2,False,$550.00
367,Start a Kickstarter Page (Suspended),"$3,000.00",$20.00,suspended,US,False,3,False,$6.67
368,Quiv Exchange (Canceled),"$10,000.00",$150.00,canceled,US,False,3,False,$50.00
369,Comma Comma - Personal Search Engine - FOR WIN...,$622.00,$2.00,canceled,US,False,2,False,$1.00
370,Bluetme - Cool phone app for celebrity and dat...,"$138,748.00",$79.00,canceled,US,False,1,False,$79.00
371,SPRAID Cyber Security Software - Protection ag...,"$150,000.00",$512.00,canceled,US,False,15,False,$34.13
372,Your Story Discovered: A Writers Revolution (C...,"$35,000.00",$160.00,canceled,US,False,1,False,$160.00
553,Giorre designer,"$20,000.00",$10.00,failed,US,False,1,False,$10.00
554,Project Salmon,"$5,000.00",$550.00,failed,US,False,2,False,$275.00
558,Gold Collar: Stand Out Among Peers With Custom...,"$10,000.00",$1.00,failed,US,False,1,False,$1.00
559,MovieSlice - An Automatic Video Editor,"$10,000.00","$1,682.00",failed,US,False,50,False,$33.64
560,Elephants Talking Communications / BeeCause,"$100,000.00",$147.00,failed,US,False,5,False,$29.40
1473,AI Project,"$100,000.00",$15.00,live,US,False,2,False,$7.50
1487,Anthouse Pet Companion Robot,"$50,000.00","$1,405.00",live,US,False,5,False,$281.00
1488,"HEXA: Programmable, Highly Maneuverable Robot","$100,000.00","$39,217.00",live,US,True,62,False,$632.53
1489,Autonomous Cultivation Controller w/ The Track...,"$10,000.00",$45.00,live,US,False,1,False,$45.00
1490,Practical Plantoid Robotics: Easy to Build Org...,"$5,000.00","$1,557.77",live,US,False,25,False,$62.31

In [70]:
Kickstarter_selected_nonzero_onlyusa_state["name"].count()

state
canceled       216
failed        1123
live            13
successful     775
suspended        2
Name: name, dtype: int64