## Cryptocurrency Merging

### Instructions

* Read in both of the CSV files and print out their DataFrames.

* Perform an inner merge that combines both DataFrames on the "Date" column.

* Rename the columns within the newly merged DataFrame so that the headers are more descriptive.

* Create a summary table that includes the following information: `Best Bitcoin Open`, `Best Dash Open`, `Best Bitcoin Close`, `Best Dash Close`, `Total Bitcoin Volume`, `Total Dash Volume`.

* `Total Bitcoin Volume` and `Total Dash Volume` should be calculated to have units of "millions" and be rounded to two decimal places.

In [3]:
# Import Dependencies
import pandas as pd

In [4]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [5]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [6]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [7]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [9]:
# Merge the two DataFrames together based on the Dates they share
Bitcoin_Dash_Merged_DF = pd.merge(bitcoin_df,dash_df, on = "Date")

In [11]:
Bitcoin_Dash_Merged_DF.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [14]:
# Rename columns so that they are differentiated
Bitcoin_Dash_Merged_DF = Bitcoin_Dash_Merged_DF.rename(columns={"Open_x":"Open_Bitcoin",
"High_x":"High_Bitcoin",
"Low_x":"Low_Bitcoin",
"Close_x":"Close_Bitcoin",
"Volume_x":"Volume_Bitcoin",
"Market Cap_x":"Market Cap_Bitcoin",
"Open_y":"Open_Dash",
"High_y":"High_Dash",
"Low_y":"Low_Dash",
"Close_y":"Close_Dash",
"Volume_y":"Volume_Dash",
"Market Cap_y":"Market Cap_Dash"})

In [15]:
Bitcoin_Dash_Merged_DF.head()

,Date,Open_Bitcoin,High_Bitcoin,Low_Bitcoin,Close_Bitcoin,Volume_Bitcoin,Market Cap_Bitcoin,Open_Dash,High_Dash,Low_Dash,Close_Dash,Volume_Dash,Market Cap_Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [18]:
# alternatively you can set your suffixes when the merge occurs
Crypto_DF = pd.merge(bitcoin_df,dash_df, on = "Date",suffixes=("_Bitcoin","_Dash"))

In [19]:
Crypto_DF.head()

,Date,Open_Bitcoin,High_Bitcoin,Low_Bitcoin,Close_Bitcoin,Volume_Bitcoin,Market Cap_Bitcoin,Open_Dash,High_Dash,Low_Dash,Close_Dash,Volume_Dash,Market Cap_Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [21]:
# Collecting best open for Bitcoin and Dash
Best_Open_Bitcoin = Crypto_DF["Open_Bitcoin"].max()
print(Best_Open_Bitcoin)
Best_Open_Dash = Crypto_DF["Open_Dash"].max()
print(Best_Open_Dash)

772.42
400.42

In [22]:
# Collecting best close for Bitcoin and Dash
Best_Close_Bitcoin = Crypto_DF["Close_Bitcoin"].max()
print(Best_Close_Bitcoin)
Best_Close_Dash = Crypto_DF["Close_Dash"].max()
print(Best_Close_Dash)

754.56
399.85

In [27]:
# Collecting the total volume for Bitcoin and Dash
Total_Volume_Bitcoin = round(Crypto_DF["Volume_Bitcoin"].sum()/1000000,2)
print(Total_Volume_Bitcoin)
Total_Volume_Dash = round(Crypto_DF["Volume_Dash"].sum()/1000000,2)
print(Total_Volume_Dash)

24383.05
2960.28

In [34]:
# Creating a summary DataFrame using above values
Crypto_Summary = pd.DataFrame({"Best_Open_Bitcoin":[Best_Open_Bitcoin],"Best_Open_Dash":[Best_Open_Dash],
                  "Best_Close_Bitcoin":[Best_Close_Bitcoin],"Best_Close_Dash":[Best_Close_Dash],
                  "Total_Volume_Bitcoin":[Total_Volume_Bitcoin],"Total_Volume_Dash":[Total_Volume_Dash]})

In [35]:
Crypto_Summary

,Best_Open_Bitcoin,Best_Open_Dash,Best_Close_Bitcoin,Best_Close_Dash,Total_Volume_Bitcoin,Total_Volume_Dash
0,772.42,400.42,754.56,399.85,24383.05,2960.28

In [ ]:
# https://stackoverflow.com/questions/17839973/constructing-pandas-dataframe-from-values-in-variables-gives-valueerror-if-usi/17840195#17840195